@import "normalize";
@import "bourbon/bourbon";

$grey: #444;

body {
  font-family: $font-stack-helvetica;
}

.container {
  margin: 0 auto;
  width: 980px;
  text-align: center;
}

.screen {
  margin: 100px 0;
  font-size: 24px;

  .line {
    position:relative;

    .key {
      box-sizing: border-box;
      line-height: 2em;
      padding: 5px 10px;
      border-radius: 4px;
      color: $grey;
      border: 1px solid #bbb;
    }
  }
}

.text {
  border: 2px solid lightblue;
  padding: 20px;
  color: $grey;
  font-size: 20px;
  letter-spacing: .03ex;
  position: relative;

  span {
    white-space: pre-wrap;
  }
}

.text.wrong {
  animation: typo 200ms linear 0s 1 normal;
}

#cursor {
  border-left: 1px solid black;
  animation: blinker 1s linear infinite;
  position: absolute;
}

#pre {
  color: #999;
}

@keyframes blinker {
  50% { opacity: 0; }
}

@keyframes typo {
  0% {
    border-color: orange;
  }

  100% {
    border-color: lightblue;
  }
}
