.container {
  min-height: 100%;

  margin: 50px auto;
  width: 960px;
  
  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  &-top-wrapper {
    min-height: 130px;
  }
}

.footer {
  margin: 0 auto;
  padding: 10px 0;
  border-top: 1px solid $lightblue;
  text-align: center;
  width: 960px;

  a {
    color: $lightblue;
    transition: 0.2s;
    -webkit-transition: 0.2s;

    &:hover {
      color: darkcyan;
    }
  }

  i {
    padding: 5px;
  }
}
