.keyboard {
  margin: 4em auto 0 auto;
  padding: 1em;
  width: 48em;
  
  border: 1px solid grey;
  border-radius: 10px;
  background: $softgrey;
}

.key-row {
  display: flex;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  background: white;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;

  min-width: 3em;
  min-height: 3em;

  &--modifier {
    text-transform: lowercase;
    font-size: smaller;
    height: 3rem;
  }

  &--active {
    background: $lightblue;
  }
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}
